# Ignore vscode settings
/.vscode

# Ignore node modules (can be automatically installed with npm and package-lock.json)
*/node_modules

# Ignore stored environment variables such as API keys
.env

# Ignore my scratch pad
/playground